# [Vektor](https://academy.dqlab.id/main/livecode/1/4/14?pr=0)

Vector adalah jenis data di R dengan struktur yang menyimpan deretan nilai (lebih dari satu nilai) dengan tipe data sama. Jadi, jika tipe datanya teks maka seluruh data harus bertipe teks. Demikian juga jika tipenya angka maka seluruh data angka semua.

Vector didefinisikan dengan nama function yang memilki satu huruf saja: c. Sebagai contoh untuk membuat vector yang isinya angka dengan nilai 2, 5, dan 7, maka perintahnya adalah c(2, 5, 7).

In [1]:
c(4,5,6)# Ini adalah contoh vector untuk angka numerik dengan 3 data c(4, 5, 6)

angka <- c(4,5,6)# Variable bernama angka dengan input berupa vector

print(angka)# Tampilkan isi variable angka dengan fungsi print

[1] 4 5 6

[1] 4 5 6

# [Deretan Nilai dengan Operator :](https://academy.dqlab.id/main/livecode/1/4/708?pr=0)

In [2]:
angka1 <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(angka1)
angka2 <- c(1:10)
print(angka2)

 [1]  1  2  3  4  5  6  7  8  9 10
 [1]  1  2  3  4  5  6  7  8  9 10

# [Vector dengan Isi Teks](https://academy.dqlab.id/main/livecode/1/4/709?pr=0)

In [3]:
# Variable nama_mahasiswa dengan input character
nama_mahasiswa <- c("Amira","Budi","Charlie")
print(nama_mahasiswa)

[1] "Amira"   "Budi"    "Charlie"

## [Index dan Accessor pada Vector](https://academy.dqlab.id/main/livecode/1/4/15?pr=0)

In [4]:
# Buat vector variable bernama angka yang isinya 20 s/d 30
angka <- c(20:30)
print(angka)

# Tampilkan isi variable angka pada posisi ke 3
print(angka[3])

# Tampilkan isi variable angka pada posisi ke 5 gunakan kurung siku ganda
print(angka[[5]])

# Tampilkan isi variable angka pada posisi ke 4 s/d 6
print(angka[4:6])

# Buat vector teks dengan nama kode_prodi yang diisi sesuai petunjuk soal
kode_prodi <- c("DKV","ILKOM","ICT")
# Tampilkan isi indeks ketiga dari kode_prodi
print(kode_prodi[3])

 [1] 20 21 22 23 24 25 26 27 28 29 30
[1] 22
[1] 24
[1] 23 24 25
[1] "ICT"

## [Named Vektor](https://academy.dqlab.id/main/livecode/1/4/16?pr=0)

In [5]:
#Membuat named vector dengan nama nilai
nilai <- c(statistik = 89, fisika = 95, ilmukomunikasi = 100)

#Menampilkan isi variable nilai
print(nilai)

#Menampilkan isi dengan nama fisika
print(nilai["fisika"])
#Buat variable profil sesuai permintaan soal
profil <- c(nama = "Budi", tempat_tinggal = "Jakarta", tingkat_pendidikan = "S1")
#Tampilkan variable profil
print(profil)

     statistik         fisika ilmukomunikasi
            89             95            100
fisika
    95
              nama     tempat_tinggal tingkat_pendidikan
            "Budi"          "Jakarta"               "S1"

## [List](https://academy.dqlab.id/main/livecode/1/4/17?pr=0)

In [6]:
# List disimpan dalam variable dengan nama list_random
list_random <- list(2, "Budi", 4)

# Menampilkan isi list
list_random 

# List disimpan dalam variable dengan nama dati2
dati2 <- list(nama = "Denpasar", propinsi = "Bali")

# Menampilkan isi list dati2
dati2 

# Buat variable kota sesuai permintaan soal
kota <- list(nama_kota = "Makassar", propinsi = "Sulawesi Selatan", luas_km2 = 199.3)
# Tampilkan isi variable list kota
print(kota)

[[1]]
[1] 2

[[2]]
[1] "Budi"

[[3]]
[1] 4

$nama
[1] "Denpasar"

$propinsi
[1] "Bali"

$nama_kota
[1] "Makassar"

$propinsi
[1] "Sulawesi Selatan"

$luas_km2
[1] 199.3

## [List Index](https://academy.dqlab.id/main/livecode/1/4/18?pr=0)

In [7]:
# Membentuk list dengan 2 angka dan 1 character
list_saya <- list(2, "Budi", 4)

# Menampilkan index kedua dengan aksesor kurung siku tunggal
list_saya[2]

# Menampilkan index kedua dengan aksesor kurung siku ganda
list_saya[[2]]

# Menampilkan index kedua s/d ketiga
list_saya[2:3]

list_satu <- list(1,"Online",TRUE)
list_satu[1]

[[1]]
[1] "Budi"

[1] "Budi"

[[1]]
[1] "Budi"

[[2]]
[1] 4

[[1]]
[1] 1

## [Data Frame](https://academy.dqlab.id/main/livecode/1/4/20?pr=0)

In [8]:
#Membuat dua variable vector
fakultas <- c("Bisnis", "D3 Perhotelan", "ICT", "Ilmu Komunikasi", "Seni dan Desain")
jumlah_mahasiswa <- c(260, 28, 284, 465, 735)

#Membuat data frame dari kedua vector di atas
info_mahasiswa <- data.frame(fakultas, jumlah_mahasiswa)

#Melihat isi data frame
info_mahasiswa

  fakultas        jumlah_mahasiswa
1 Bisnis          260
2 D3 Perhotelan    28
3 ICT             284
4 Ilmu Komunikasi 465
5 Seni dan Desain 735

## [Cara Akses Data Frame](https://academy.dqlab.id/main/livecode/1/4/21?pr=0)

In [9]:
#Membuat tiga variable vector
fakultas <- c("Bisnis", "D3 Perhotelan", "ICT", "Ilmu Komunikasi", "Seni dan Desain")
jumlah_mahasiswa <- c(260, 28, 284, 465, 735)
akreditasi <- c("A","A","B","A","A")

#Membuat data frame dari kedua vector di atas
info_mahasiswa <- data.frame(fakultas, jumlah_mahasiswa, akreditasi)

#Menampilkan kolom jumlah_mahasiswa
info_mahasiswa$jumlah_mahasiswa

#Menampilkan kolom fakultas
info_mahasiswa$fakultas

[1] 260  28 284 465 735

[1] "Bisnis"          "D3 Perhotelan"   "ICT"             "Ilmu Komunikasi"
[5] "Seni dan Desain"

# Kesimpulan

Ringkasan dari tipe-tipe data tersebut adalah sebagai berikut.

- Vector hanya bisa diisi dengan salah satu tipe data saja di seluruh elemennya, misalkan angka ataupun teks. Pembuatan vector menggunakan fungsi c, dan bisa diakses dengan accessor dengan angka indeks yang diapit kurung siku. Namun jika berupa named vector, maka indeksnya adalah berupa teks.
- List adalah tipe data yang bisa diisi dengan lebih dari satu tipe data di seluruh elemennya, dengan campuran teks dan angka misalnya. Pembuatan list adalah menggunakan fungsi list, dan seperti vector elemen pada list diakses dengan accessor yang diapit kurung siku.
- Data Frame adalah tipe data yang terdiri dari satu atau beberapa vector ataupun list. Untuk membuat data frame kita gunakan fungsi  data.frame, dan kita bisa mengakses menggunakan accessor $ diikuti nama kolom, dan juga angka indeks.